body{
    font-family: 'Times New Roman', Times, serif;
    margin: 5px;
    padding: 5px;
    background-color: #a8ecea;
}
nav {
    background-color: #2b2727;
    color: white;
    padding: 5px;
    margin: 5px;
}
nav ul {
    list-style-type: none;
    display: flex;
}
nav li {
    flex: 1; 
    text-align: center; 
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: rgb(65, 191, 216);
}
#header{
    display: flex;
    align-items: center;
    text-align: left;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: #73b1bd;

}

#header img{
    padding-right: 20px;
    height:300px;
    width:250px;
    display: block;
}


#Projects{
    background-color:  #73b1bd;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    text-align: left; 
}
#Projects ul {
    list-style-type: none;
    display: flex;
   
}
#Project li {
    flex: 1; 
    text-align: center; 
}
#Project_img{
    height:100px;
    width:150px;

}
#Experience {
    background-color:  #73b1bd;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}

#Education {
    background-color:  #73b1bd;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}
.edu{
    display: flex;
    margin: 5px;
    padding: 10px;
}
.edu img{
    height:130px;
    width: 100px;
    border-radius: 5px;
    padding-right: 20px;
}
#Blogs{
    background-color:  #73b1bd;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}

.blog{
    display: flex;
    margin: 5px;
    padding: 10px;
}
.blog img{
    height:120px;
    width: 120px;
    border-radius: 5px;
    padding-right: 20px;
}

#Footer{
    background-color:  #73b1bd;
    border-radius: 5px;
    margin: 5px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

#Footer img{
    padding-right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 5px;
}